body {
  font-family: poppins;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(153, 144, 211), rgb(60, 107, 202), rgb(158, 132, 196), rgb(67, 100, 165), rgb(93, 76, 191), rgb(46, 42, 97), rgb(58, 49, 121), rgb(91, 54, 146), rgb(124, 108, 227));
  background-size: 400% 100%; 
  animation: gradientChange 20s linear infinite;
}

  
  @keyframes gradientChange {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  .wrapper{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    flex-direction: column;
    display: flex;
    padding: 1rem;
  }